@using BolgerUtils.Framework.Razor
@using Tests.BolgerUtils.Framework.Razor.Models
@using RazorEngine.Templating
@inherits TemplateBase<TestModel>
<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <header>
            <h1>Test</h1>
        </header>
        
        <main>
            @if(Model.IsDisplayed) {
                <ul>
                    @for(var i = 0; i < Model.LoopCount; i++) {
                        <li>@if(Model.ShouldOutputRawString) { @Model.Text.ToRawString() } else { @Model.Text }</li>
                    }
                </ul>
            }
        </main>
        
        <footer>
            &copy; Copyright 2019, Matthew Bolger
        </footer>
    </div>
</body>
</html>